# Escludi directory e file di sistema non rilevanti
.DS_Store
Thumbs.db
AppData/
NTUSER.DAT*
ntuser.*
*.log
Cookies/
Downloads/
Documents/
Favorites/
OneDrive/
.vscode/
.android/
.cargo/
.dotnet/
.gitconfig
.keras/
.lesshst
.matplotlib/
.rustup/
3D Objects/
Desktop/
Music/
Pictures/
Saved Games/
Videos/
ensemble_env/
*.pyc
__pycache__/
.vscode/
trading-strategies/
